{% extends 'first/base.html' %}

{% block title %} {{ post.post_title }} {% endblock title %}

{% block content %}
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">{{ post.post_title }}</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">Category: <span class="badge">{{ post.post_category }}</span></div>
                <div class="col-sm-4 text-center">Created: <span class="badge">{{ post.created }}</span></div>
                <div class="col-sm-4 text-right">Comments: <span class="badge">{{ post.comment_parent.all | length }}</span></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div style="text-align: justify;">
                        {% autoescape off %}
                            {% if post.post_image %}
                                    <img class="img-responsive img-thumbnail" style="max-width: 400px; float: left; margin-right: 20px; margin-bottom: 10px;" src="{{ MEDIA_URL }}{{ post.post_image }}" alt="{{ post.post_title }}">
                                {% endif %}
                            {{ post.post_text }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
            <h3 class="text-center">Comments for {{ post.post_title }}</h3>
            {% if user.username %}
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <form class="form" action="" method="post">
                            {% csrf_token %}
                            {{ form.comment_parent }}
                            <div class="form-group">
                                <label for="id_comment_text">Comment text</label>
                                {{ form.comment_text.errors }}
                                {{ form.comment_text }}
                            </div>
                            <button class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <hr>
                {% else %}
                <p class="text-info text-center">Войдите что-бы иметь возможность оставить комментарий!</p>
            {% endif %}
            {% if post.comment_parent.all %}
                {% for comment in post.comment_parent.all %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Comment #{{ comment.id }} by Username
                                    <span class="text-default pull-right">{{ comment.created }}</span>
                                </div>
                                <div class="panel-body">{{ comment.comment_text }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}